.dashboard{
    margin-top: 20px;
    /* width: 50vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search h1{
    font-size: 2.5rem;
    text-align: center;
    color: #F08C00;
}
.searchbox{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--black);
}
.title{
    margin-left: 10px;
}

@media(max-width:890px){
    .search h1{
        font-size: 1.5rem;
    }
    .searchbox{
        width: 550px;
    }
  
}
@media(max-width:570px){
    .search h1{
        font-size: 1rem;
    }
    .searchbox{
        width: 100%;
    }
}