@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --accent: #E54B4B;
  --accent2: blue;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
}


body {
  background-color: var(--white) !important;
}

.button{
  border: 1px solid var(--accent);
  background-color: #FFC9C9;
  color: var(--accent);
  padding: 10px 30px;
  line-height: 100%;
  border-radius: 10px;
  font-size: 20px;
}