@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --accent: #E54B4B;
  --accent2: blue;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
}


body {
  background-color: var(--white) !important;
}

.button{
  border: 1px solid var(--accent);
  background-color: #FFC9C9;
  color: var(--accent);
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
}

.button.border{
  border: 2px solid #48AA5B !important;
  background: transparent; 
  padding: 5px 40px;
  color: #48AA5B;
  transition: all .5s ease;
}

.button.border:hover{
  background: #48AA5B;
  color: var(--white);
}